<navbar></navbar>
<div class="section_bg_gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="ptb-50">
              <h1 class="text-center">WHAT WE OFFER</h1>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
              <div class="service-block single_what_we_do">
                <div class="top_line"></div>
                <div class="what_we_do_figure">
                  <i class="service-icon col-md-offset-0 fas fa-weight" aria-hidden="true"></i>
                </div>
                <h4 class="what_we_do_title">Weight management</h4>
                <div class="what_we_do_content">Lorem ipsum dolor amet, consectetur adipiscing elit eiusmod.</div>
                <a class="what_we_do_icon" href="#">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="single_what_we_do">
                <div class="top_line"></div>
                <div class="what_we_do_figure">
                  <i class="service-icon col-md-offset-0 fas fa-utensils" aria-hidden="true"></i>
                </div>
                <h4 class="what_we_do_title">Custom Diet Plans</h4>
                <div class="what_we_do_content">Lorem ipsum dolor amet, consectetur adipiscing elit eiusmod.</div>
                <a class="what_we_do_icon" href="#">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="single_what_we_do">
                <div class="top_line"></div>
                <div class="what_we_do_figure">
                  <i class="service-icon col-md-offset-0 fas fa-phone-square-alt" aria-hidden="true"></i>
                </div>
                <h4 class="what_we_do_title">Consultation & Coaching</h4>
                <div class="what_we_do_content">Lorem ipsum dolor amet, consectetur adipiscing elit eiusmod.</div>
                <a class="what_we_do_icon" href="#">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
    </div>
  </div>
</div>